@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
*,
::before,
::after {
  box-sizing: border-box;
}

html {
  max-width: 1440px;
  margin: auto;
}

body {
  margin: 0px;
  font-family: "Roboto", "sans-serif";
}

main {
  padding: 0 0rem;
}
@media (max-width: 1000px) {
  main {
    padding: 0 0rem;
  }
}

h1,
h2,
h3,
h4,
h5,
h6, p {
  padding: 0;
  margin: 0;
}

h2 {
  padding: 0rem 0;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
  text-align: center;
  padding: 20px;
  position: relative;
  box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.25);
}

.heading {
  margin-bottom: 0;
  height: 5rem;
  text-align: center;
  padding: 5px;
}
.heading img {
  width: 195px;
  height: 50px;
  padding-top: 18px;
  text-align: center;
}

@media screen and (min-width: 1024px) and (max-width: 2000px) {
  .heading {
    height: 5.5rem;
  }
  header {
    text-align: center;
    padding: 20px;
    position: relative;
    box-shadow: none;
  }
}
.city {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: rgb(232, 232, 232);
  padding: 1rem;
  gap: 0rem;
}
.city .location__icon {
  font-size: 20px;
  margin-right: 0;
  padding-left: 1.5rem;
}
.city .location__input {
  width: fit-content;
  border: none;
  background-color: transparent;
  font-size: 18px;
  color: black;
  font-weight: 400;
  align-items: center;
  text-align: center;
  padding-left: 0;
  margin-left: -1.5rem;
}
.city .location__input:focus {
  outline: none;
}

/* EXPLORER */
#homepage .explorer {
  background-color: #f3f3f3;
  text-align: center;
  margin: -1rem 0rem -0.5rem 0rem;
}
#homepage .explorer h2 {
  margin: 0.8rem 3rem 1rem 3rem;
  padding-top: 3rem;
  font-size: 2rem;
}
#homepage .explorer p {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0rem 1rem 1rem 1rem;
}
#homepage .explorer button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 1.7rem;
  margin-top: 1rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-size: 1.1rem;
  margin-bottom: 4rem;
}
#homepage .explorer button:hover {
  transform: scale(1.02);
  opacity: 0.8;
  box-shadow: 2px 1px 8px 1px #7e7e7e;
}
#homepage .load {
  z-index: 1;
  position: fixed;
  width: 100%;
  height: 100vh;
  background-color: rgba(210, 210, 210, 0.8784313725);
  animation: disappear 50ms forwards;
  animation-delay: 3s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
#homepage .load__rond {
  position: absolute;
  width: 400px;
  height: 400px;
  border: 0px solid;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translate(50%, 50%);
}
#homepage .load__rond:nth-child(1) {
  border-top-width: 15px;
  border-color: #ff79da;
  animation: rotate-a 3s linear both;
}
@keyframes rotate-a {
  0% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
  }
}
#homepage .load__rond:nth-child(2) {
  border-right-width: 15px;
  border-color: #9356dc;
  animation: rotate-b 3s linear both;
}
@keyframes rotate-b {
  0% {
    transform: rotateX(55deg) rotateY(15deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(55deg) rotateY(15deg) rotateZ(0deg);
  }
}
#homepage .load__rond:nth-child(3) {
  border-left-width: 15px;
  border-color: #99e2d0;
  animation: rotate-c 3s linear both;
}
@keyframes rotate-c {
  0% {
    transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
  }
  100% {
    transform: rotateX(35deg) rotateY(15deg) rotateZ(0deg);
  }
}
#homepage .load .header__logo {
  position: relative;
  font-family: "Shrikhand", "sans serif";
  font-weight: 200;
  font-size: 40px;
  line-height: 0;
  display: block;
  margin: auto;
}
@keyframes disappear {
  to {
    transform: scale(0);
  }
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  #homepage .explorer h2 {
    margin-bottom: 2rem;
    font-size: 2.5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) {
  #homepage .load {
    margin-left: -2.5rem;
    margin-right: -3rem;
  }
}

.tuto {
  counter-reset: steps;
  margin-bottom: 5rem;
  margin-right: 2rem;
}
.tuto h2 {
  margin: 4rem 0rem 2rem 3rem;
}
.tuto ol {
  display: flex;
  gap: 2rem;
}
@media (max-width: 1002px) {
  .tuto ol {
    flex-direction: column;
  }
}
.tuto li {
  position: relative;
  list-style-type: none;
  background-color: #f6f6f6;
  padding: 1.5rem 2rem;
  flex-grow: 1;
  border-radius: 1.4rem;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
}
.tuto li::before {
  content: counter(steps);
  counter-increment: steps;
  color: white;
  background-color: #9356dc;
  width: 2rem;
  height: 2rem;
  display: grid;
  place-items: center;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: -1rem;
  transform: translateY(-50%);
}
.tuto li:hover {
  transform: scale(1.02);
  background-color: #f2eafb;
}
.tuto li:hover i::before {
  color: #9356dc;
}
.tuto li i.fas {
  margin-right: 1rem;
  color: #7e7e7e;
  font-size: 1.5rem;
}
.tuto li span {
  font-weight: 500;
}

@media screen and (min-width: 768px) and (max-width: 1000px) {
  .tuto {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .tuto ol {
    margin-left: 6rem;
    margin-right: 6rem;
  }
  .tuto h2 {
    margin-left: 8rem;
  }
}
@media screen and (min-width: 1200px) and (max-width: 2000px) {
  .tuto {
    margin-left: 7.2rem;
    margin-right: 9.5rem;
  }
}
#homepage .menus {
  background-color: #f6f6f6;
  padding: 0 0 5rem 0;
}
#homepage .menus h2 {
  padding: 3rem 0 2rem 1rem;
}
#homepage .menus .menus__cards {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
}
@media (max-width: 770px) {
  #homepage .menus .menus__cards {
    grid-template-columns: repeat(1, 1fr);
  }
}
#homepage .menus .menus__cards .new {
  position: relative;
}
#homepage .menus .menus__cards .new::before {
  content: "Nouveau";
  position: absolute;
  height: 2rem;
  width: 6rem;
  border-radius: 0.1rem;
  background-color: #99E2D0;
  color: #1b6150;
  display: grid;
  place-items: center;
  right: 2rem;
  top: 1rem;
  z-index: 1;
}
#homepage .menus .card {
  padding: 0 1rem 0 1rem;
}
#homepage .menus .card__image {
  height: 14rem;
  border-radius: 1rem 1rem 0 0;
  background-size: cover;
  background-position: 20%;
  position: relative;
}
#homepage .menus .card__image-1 {
  background-image: url("images/restaurants/image-1.jpg");
}
#homepage .menus .card__image-2 {
  background-image: url("images/restaurants/image-2.jpg");
}
#homepage .menus .card__image-3 {
  background-image: url("images/restaurants/image-3.jpg");
}
#homepage .menus .card__image-4 {
  background-image: url("images/restaurants/image-4.jpg");
}
#homepage .menus .card__description {
  background-color: white;
  border-radius: 0 0 1rem 1rem;
  padding: 1rem;
  position: relative;
}
#homepage .menus .card__description .far.fa-heart {
  position: absolute;
  justify-content: flex-end;
  flex-wrap: wrap;
  right: 2rem;
  font-size: 1.8rem;
  margin-top: -2.7rem;
}
#homepage .menus .card__description .fas.fa-heart {
  position: absolute;
  right: 2rem;
  font-size: 1.8rem;
  margin-top: -2.7rem;
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
#homepage .menus .card__description .fas.fa-heart:hover {
  opacity: 1;
  transform: translateY(0%) scale(1.2);
}
#homepage .menus .card__description input[type=checkbox]:checked + .heart .fas.fa-heart {
  opacity: 1;
  transform: translateY(0%) scale(1.2);
}
#homepage .menus .card__description input[type=checkbox] {
  position: absolute;
  opacity: 0;
  pointer-events: none;
}
#homepage .menus .card h3,
#homepage .menus .card p {
  padding: 0.1rem;
  margin-right: 3rem;
  margin-left: 3px;
  font-size: 19px;
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  #homepage .menus .card {
    margin-bottom: 2rem;
  }
  #homepage .menus .card__image {
    max-height: 10rem;
    font-size: 70%;
  }
  #homepage .menus .card__description {
    max-height: 5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) {
  #homepage .menus .menus__cards {
    margin-left: calc(8rem + (100vw - 1024px) / 80);
    margin-right: calc(8rem + (100vw - 1024px) / 80);
    transition: margin-left 0.3s ease, margin-right 0.3s ease;
    margin-bottom: -3rem;
  }
  #homepage .menus h2 {
    margin-left: 9rem;
  }
  #homepage .menus .card {
    margin-left: calc(0.5rem + (100vw - 1024px) / 80);
    margin-right: calc(0.5rem + (100vw - 1024px) / 80);
    margin-bottom: 2rem;
  }
  #homepage .menus .card__image {
    max-height: 12rem;
    font-size: 70%;
  }
  #homepage .menus .card__description {
    max-height: 5rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #homepage .menus .menus__cards {
    margin-left: calc(2rem + (100vw - 1024px) * 0.01);
    margin-right: calc(2rem + (100vw - 1024px) * 0.01);
  }
  #homepage .menus h2 {
    margin-left: 3rem;
  }
}
footer {
  background-color: #353535;
  padding: 1rem 3rem;
  padding-left: 2rem;
  color: white;
}
footer h2 {
  font-family: "Shrikhand", "sans serif";
  font-weight: 500;
  padding: 1rem 0;
}
footer p {
  padding: 0.2rem;
}
footer i {
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: -1rem;
    padding-top: 2.2rem;
    gap: 1rem;
  }
  footer .paragraph-1 {
    gap: 4rem;
    margin-right: 2.5rem;
  }
  footer h2 {
    order: 1;
    font-size: 20px;
    margin-left: 5rem;
    margin-right: 1.5rem;
    margin-top: -0.6rem;
  }
  footer p,
  footer h2 {
    gap: 2rem;
  }
  footer i {
    margin-right: 5px;
  }
}
#page-resto header {
  margin-bottom: -0.1rem;
  padding-top: 1rem;
  margin-top: -0.5rem;
}
#page-resto header img {
  width: 195px;
  height: 50px;
  padding-top: 18px;
  text-align: center;
}
#page-resto header .fa-solid.fa-arrow-left:hover::before {
  transform: scale(1.2) translateY(-50%);
}
#page-resto header .fa-solid.fa-arrow-left::before {
  display: inline-block;
  position: absolute;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  left: 1rem;
  top: 60%;
  transform: translateY(-50%);
  font-size: 20px;
  transition: transform 200ms;
}
#page-resto .banner img {
  margin-top: 0.1rem;
  display: block;
  width: 100%;
  height: 55vh;
  object-fit: cover;
  object-position: center;
}
#page-resto .restaurant-main {
  position: relative;
  cursor: default;
  background-color: #f6f6f6;
  padding: 0.1rem 1rem 1rem 1rem;
  margin-top: -2rem;
  border-radius: 2rem 2rem 0 0;
}
#page-resto .restaurant-main .far.fa-heart {
  position: absolute;
  justify-content: flex-end;
  flex-wrap: wrap;
  right: 3rem;
  font-size: 1.8rem;
  margin-top: -2.3rem;
}
#page-resto .restaurant-main .fas.fa-heart {
  position: absolute;
  right: 3rem;
  font-size: 1.8rem;
  margin-top: -2.3rem;
  color: transparent;
  background-image: linear-gradient(to top, rgb(147, 86, 220), rgb(255, 121, 218));
  -webkit-background-clip: text;
  opacity: 0;
  transition: all 0.7s ease-in-out;
}
#page-resto .restaurant-main .fas.fa-heart:hover {
  opacity: 1;
  transform: translateY(0%) scale(1.2);
}
#page-resto .restaurant-main input[type=checkbox]:checked + .heart .fas.fa-heart {
  opacity: 1;
  transform: translateY(0%) scale(1.2);
}
#page-resto .restaurant-main #heart-checkbox {
  display: none;
}
#page-resto .restaurant-main h2 {
  font-family: "Shrikhand", "sans-serif";
  font-size: 31px;
  font-weight: 400;
  background-color: #f6f6f6;
  margin-top: 2.5rem;
  margin-right: 4rem;
}
#page-resto .menus {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
  margin-top: 1rem;
}
#page-resto h3 {
  text-transform: uppercase;
  font-weight: 200;
  margin: 1.5rem 0 0.5rem 0.1rem;
  position: relative;
}
#page-resto h3::after {
  content: "";
  position: absolute;
  top: 1.6rem;
  left: 0rem;
  height: 0.25rem;
  width: 3rem;
  background-color: #99E2D0;
}
#page-resto .menu__category {
  background-color: white;
  border-radius: 1rem;
  overflow: hidden;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  animation: appear 1s;
  animation-fill-mode: both;
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
#page-resto .menu__category:nth-child(13) {
  animation-delay: 1300ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(12) {
  animation-delay: 1200ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(11) {
  animation-delay: 1100ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(10) {
  animation-delay: 1000ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(9) {
  animation-delay: 900ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(8) {
  animation-delay: 800ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(7) {
  animation-delay: 700ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(6) {
  animation-delay: 600ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(5) {
  animation-delay: 500ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(4) {
  animation-delay: 400ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(3) {
  animation-delay: 300ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(2) {
  animation-delay: 200ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}
#page-resto .menu__category:nth-child(1) {
  animation-delay: 100ms;
}
#page-resto .menu__category .menu-item {
  height: 4.8rem;
  display: flex;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}
#page-resto .menu__category .menu-item__price {
  margin-left: auto;
  font-weight: 500;
  font-size: 1.1rem;
  padding: 1rem;
  display: flex;
  align-items: flex-end;
}
#page-resto .menu__category .menu-item__description {
  padding: 0.8rem;
  overflow: hidden;
}
#page-resto .menu__category .menu-item__description h4,
#page-resto .menu__category .menu-item__description p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding: 0.1rem;
}
#page-resto .menu__category .menu-item__description h4 {
  font-size: 1.2rem;
  font-weight: 500;
}
#page-resto .menu__category .menu-item__description p {
  font-size: 1.1rem;
  font-weight: 200;
}
#page-resto .menu__category .menu-item__check {
  display: grid;
  height: 4.8rem;
  flex-shrink: 0;
  place-items: center;
  border-radius: 0 1rem 1rem 0;
  background-color: #99E2D0;
  margin-right: -4rem;
  width: 4rem;
  transition: margin-right 0.5s;
}
#page-resto .menu__category .menu-item__check i {
  display: grid;
  place-items: center;
  background: white;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: 1rem;
  color: #99E2D0;
}
#page-resto .menu__category .menu-item:hover .menu-item__check {
  margin-right: 0;
}

div.order {
  height: 25vh;
  display: grid;
  place-items: center;
  margin-top: -1rem;
  margin-bottom: -1.5rem;
}
div.order button {
  color: white;
  font-weight: 300;
  font-size: 1.5rem;
  padding: 1rem 3.5rem;
  margin-top: 0.5rem;
  border: none;
  border-radius: 2rem;
  transition: transform 200ms;
  cursor: pointer;
  box-shadow: 2px 1px 8px -3px #7e7e7e;
  background-image: linear-gradient(to top, rgba(147, 86, 220, 0.9), rgba(255, 121, 218, 0.9));
  font-size: 1.1rem;
}
div.order button:hover {
  transform: scale(1.02);
  opacity: 0.8;
  box-shadow: 2px 1px 8px 1px #7e7e7e;
}
@media (max-width: 768px) {
  div.order footer {
    background-color: #353535;
    padding: 1rem 3rem;
    padding-left: 2rem;
    color: white;
    font-size: 17.5px;
  }
  div.order footer h2 {
    font-family: "Shrikhand", "sans serif";
    font-size: 20px;
    font-weight: 500;
    padding: 1rem 0;
  }
  div.order footer p {
    padding: 0.2rem;
  }
  div.order footer i {
    margin-right: 10px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  #page-resto h2 {
    text-align: center;
    margin-right: 1rem;
  }
  #page-resto .far.fa-heart {
    text-align: center;
    left: 24rem;
  }
  #page-resto .fas.fa-heart {
    text-align: center;
    left: 24rem;
  }
  #page-resto .restaurant-main {
    min-width: 50%;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 1rem;
  }
  #page-resto .menus {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) {
  #page-resto header {
    margin-bottom: -0.6rem;
    padding-bottom: 1rem;
  }
  #page-resto header .fa-solid.fa-arrow-left::before {
    top: 55%;
  }
  #page-resto .restaurant__title {
    min-width: 50%;
    border-radius: 2rem 2rem 0 0;
    margin-left: 10rem;
    margin-right: 10rem;
  }
  #page-resto h2 {
    text-align: center;
    margin-right: 1rem;
  }
  #page-resto .far.fa-heart {
    text-align: center;
    left: 24rem;
  }
  #page-resto .fas.fa-heart {
    text-align: center;
    left: 24rem;
  }
  #page-resto .restaurant-main {
    min-width: 50%;
    background-color: #f6f6f6;
    margin-left: 11rem;
    margin-right: 11rem;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) and (max-width: 1200px) {
  #page-resto .restaurant-main {
    margin-left: 8rem;
    margin-right: 8rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) {
  #page-resto .menus {
    margin-left: 12rem;
    margin-right: 12rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) and (max-width: 1200px) {
  #page-resto .menus {
    margin-left: 6rem;
    margin-right: 6rem;
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) {
  #page-resto .menu-item {
    margin-left: 0;
    margin-right: 0;
    transition: margin-left 0.5s, margin-right 0.5s;
  }
  #page-resto .menu__category {
    min-width: 80%;
  }
  #page-resto .menu-item__check {
    display: grid;
    height: 4.8rem;
    flex-shrink: 0;
    place-items: center;
    border-radius: 0 1rem 1rem 0;
    background-color: #99E2D0;
    margin-right: -4rem;
    width: 4rem;
    transition: margin-right 0.5s;
  }
  #page-resto .menu-item__check i {
    display: grid;
    place-items: center;
    background: white;
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 1rem;
    color: #99E2D0;
  }
  footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    margin-top: -1rem;
    padding-top: 2.6rem;
    gap: 1rem;
  }
  footer .paragraph-1 {
    gap: 4rem;
    margin-right: 2.5rem;
  }
  footer h3 {
    order: 1;
    margin-left: 5rem;
    margin-right: 1.5rem;
    margin-top: -0.6rem;
  }
  footer p,
  footer h3 {
    gap: 2rem;
  }
  footer i {
    margin-right: 5px;
  }
}

/*# sourceMappingURL=styles.css.map */
