@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/animations";

// *{
//    box-shadow: 0 0 0 3px red inset;
//  }
#page-resto {

  header {
    &:hover::before {
      @include mixins.transform-zoom2(
        $zoom-level: 1.2,
        $transformation: translateY(-50%)
      );
    }
    &::before {
      @include mixins.font-awesome(900);
      content: "\f060";
      left: 1rem;
      top: 50%;
      transform: translateY(-50%);
      font-size: 20px;
      transition: transform 200ms;
    }
  }
  .banner img {
    display: block;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: center;
  }

  .restaurant__title {
    
    margin-top: -2rem;
    background-color: colors.$lightergrey;
    .restaurant__title::before {
      background-color: white;
    }
    h2 {
      font-family: "Shrikhand", "sans-serif";
      padding: 2.5rem 1rem;
      font-size: 28px;
      @include mixins.heart-animated;
      background-color: colors.$lightergrey;
      border-radius: 2rem 2rem 0 0;
    }
  }

  .restaurant-main {
  background-color: colors.$lightergrey;
    margin-bottom: -3.6rem;
  
  }
  .menus {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 200;
    margin: 1.5rem 0 0.5rem 0;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 1.6rem;
      left: 0rem;
      height: 0.25rem;
      width: 3rem;
      background-color: colors.$color-tertiary;
    }
  }
  .menu__category {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    @include mixins.base-shadow;
    animation: appear 1s;
    animation-fill-mode: both;
    .menu-item {
      display: flex;
      overflow: hidden;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: 100ms * $i;
        }
      }
      animation: appear 1.5s;

      .menu-item__price {
        margin-left: auto;
        font-weight: 900;
        padding: 1rem;
        display: flex;
        align-items: flex-end;
      }
      .menu-item__description {
        padding: 1rem;
        overflow: hidden;
        h4,
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
      }
      .menu-item__check {
        display: grid;
        height: 4.5rem;
        flex-shrink: 0;
        place-items: center;
        $button-width: 4rem;
        border-radius: 0 1rem 1rem 0;
        background-color: colors.$color-tertiary;
        margin-right: -1 * $button-width;
        width: $button-width;
        transition: margin-right 0.5s;
        i {
          display: grid;
          place-items: center;
          background: white;
          aspect-ratio: 1;
          width: 2rem;
          border-radius: 1rem;
          color: colors.$color-tertiary;
        }
      }
      &:hover {
        cursor: pointer;
        .menu-item__check {
          margin-right: 0;
        }
        i {
          @include animations.quarterspin;
          animation: quarterspin 0.5s ease-in-out;
        }
      }
    }
  }
  div.order {
    height: 25vh;
    display: grid;
    place-items: center;
    margin-top: 0;
    button {
      @include mixins.base-button2;
      font-size: 1.1rem;
      margin-top: 0;
      margin-bottom: 3rem;
    }
  }
}

 @media (min-width: 1050px) {
    .restaurant__title {
      border-radius: 2rem 2rem 0 0;
      margin-left: 20rem;
      margin-right: 20rem;
     
      }
     h2 {
       
       text-align: center;
     }
   .restaurant-main {
      background-color: colors.$lightergrey;
      margin-bottom: -3.6rem;
      margin-left: 20rem;
      margin-right: 20rem;
      }
     footer {
       display: flex;
       flex-direction: row;
       align-items: center;
       justify-content: flex-end;
       margin-top: 0;

       h2 {
         order: 1;
         margin-left: 4rem;
       }
       p,
       h2 {
         gap: 1rem;

         .paragraph1 {
           gap: 1rem;
         }
       }
       i {
         margin-right: 5px;
       }
     }
   }

