@use "../utils/mixins";
@use "../utils/colors";
@use "../utils/animations";

// * {
//   box-shadow: 0 0 0 3px red inset;
// }
#page-resto {
  header {
    margin-top: -1rem;
    .fa-solid.fa-arrow-left:hover::before {
      @include mixins.transform-zoom2(
        $zoom-level: 1.2,
        $transformation: translateY(-50%)
      );
    }
    .fa-solid.fa-arrow-left::before {
      @include mixins.font-awesome(900);
      left: 1rem;
      top: 60%;
      transform: translateY(-50%);
      font-size: 20px;
      transition: transform 200ms;
    }
  }
  .banner img {
    display: block;
    width: 100%;
    height: 35vh;
    object-fit: cover;
    object-position: center;
  }

  .restaurant-main {
    position: relative;
    background-color: colors.$lightergrey;
    padding: 0.1rem 1rem 1rem 1rem;
    margin-top: -2rem;
    border-radius: 2rem 2rem 0 0;
    .far.fa-heart {
      position: absolute;
      justify-content: flex-end;
      flex-wrap: wrap;
      right: 3rem;
      font-size: 2rem;
      margin-top: -2.4rem;
    }
    .fas.fa-heart {
      position: absolute;
      right: 3rem;
      font-size: 2rem;
      margin-top: -2.4rem;
      color: transparent;
      @include mixins.gradient(1);
      -webkit-background-clip: text;
      opacity: 0;
      transition: all 200ms ease-in-out;
    }
    & > .fas.fa-heart:hover {
      opacity: 1;
      transform: translateY(0%) scale(1.2);
    }

    h2 {
      font-family: "Shrikhand", "sans-serif";
      font-size: 31px;
      background-color: colors.$lightergrey;
      margin-top: 2.5rem;
      margin-right: 4rem;
    }
  }
  .menus {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1rem;
    margin-top: 1rem;
  }
  h3 {
    text-transform: uppercase;
    font-weight: 200;
    margin: 1.5rem 0 0.5rem 0.1rem;
    position: relative;
    &::after {
      content: "";
      position: absolute;
      top: 1.6rem;
      left: 0rem;
      height: 0.25rem;
      width: 3rem;
      background-color: colors.$color-tertiary;
    }
  }
  .menu__category {
    background-color: white;
    border-radius: 1rem;
    overflow: hidden;
    @include mixins.base-shadow;
    animation: appear 1s;
    animation-fill-mode: both;
    .menu-item {
      height: 4.8rem;
      display: flex;
      overflow: hidden;
      @for $i from 1 through 3 {
        &:nth-child(#{$i}) {
          animation-delay: 100ms * $i;
        }
      }
      animation: appear 1.5s;
      .menu-item__price {
        margin-left: auto;
        font-weight: 700;
        font-size: 1.1rem;
        padding: 1rem;
        display: flex;
        align-items: flex-end;
      }
      .menu-item__description {
        padding: 0.8rem;
        overflow: hidden;
        h4,
        p {
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
          padding: 0.1rem;
        }
        h4 {
          font-size: 1.2rem;
          font-weight: 500;
        }
        p {
          font-size: 1.1rem;
        }
      }
      .menu-item__check {
        display: grid;
        height: 4.8rem;
        flex-shrink: 0;
        place-items: center;
        $button-width: 4rem;
        border-radius: 0 1rem 1rem 0;
        background-color: colors.$color-tertiary;
        margin-right: -1 * $button-width;
        width: $button-width;
        transition: margin-right 0.5s;
        i {
          display: grid;
          place-items: center;
          background: white;
          height: 2rem;
          width: 2rem;
          border-radius: 1rem;
          color: colors.$color-tertiary;
        }
      }
      &:hover {
        cursor: pointer;
        .menu-item__check {
          margin-right: 0;
        }
        i {
          @include animations.quarterspin;
          animation: quarterspin 0.5s ease-in-out;
        }
      }
    }
  }
  div.order {
    height: 25vh;
    display: grid;
    place-items: center;
    margin-top: -1rem;
    margin-bottom: -1.5rem;
    button {
      @include mixins.base-button2;
      font-size: 1.1rem;
    }
  }
  footer{
    background-color: colors.$darkgrey;
    padding: 1rem 3rem;
    padding-left: 2rem;
    color: white;
    font-size: 17.5px;
    h2{
        font-family: "Shrikhand", "sans serif";
        font-weight: 500;
        padding: 1rem 0;
    }
    p {
        padding: 0.2rem;
    }
    i {
        margin-right: 10px;
    }
}
}

@media screen and (min-width: 768px) and (max-width: 2000px) {
  #page-resto {
    .restaurant__title {
      min-width: 50%;
      border-radius: 2rem 2rem 0 0;
      margin-left: 10rem;
      margin-right: 10rem;
    }
    h2 {
      text-align: center;
      margin-right: 1rem;
    }
    .far.fa-heart {
      text-align: center;
      left: 24rem;
    }
    .fas.fa-heart {
      text-align: center;
      left: 24rem;
    }
    .restaurant-main {
      min-width: 50%;
      background-color: colors.$lightergrey;
      margin-left: 10rem;
      margin-right: 10rem;
      margin-bottom: 1rem;
    }
    .menus {
      margin-left: 5rem;
      margin-right: 5rem;
    }
    .menu__category {
      min-width: 50%;
    }
    footer {
      display: flex;
      flex-direction: row;
      align-items: center;
      justify-content: flex-end;
      margin-top: -1rem;
      padding-top: 2.6rem;
      gap: 1rem;

      .paragraph-1 {
        gap: 4rem;
        margin-right: 2.5rem;
      }

      h3 {
        order: 1;
        margin-left: 5rem;
        margin-right: 1.5rem;
        margin-top: -0.6rem;
      }
      p,
      h3 {
        gap: 2rem;
      }
      i {
        margin-right: 5px;
      }
    }
  }
}
