@use "../utils/colors";

.city {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  background-color: colors.$grey;
  padding: 1rem;
  gap: 0rem;

  .location__icon {
    font-size: 20px;
    margin-right: 0;
    padding-left: 1.5rem;
  }
  .location__input {
    width: fit-content;
    border: none;
    background-color: transparent;
    font-size: 18px;
    color: black;
    font-weight: 400;
    align-items: center;
    text-align: center;
    padding-left: 0;
    margin-left: -1.5rem;
  }
  .location__input:focus {
    outline: none;
  }
}
