@use "../utils/colors";

.city {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  gap: 16px;
  background-color: colors.$grey;
  padding: 1rem;

  & i {
    font-size: 20px;
  }
  h2 {
    font-size: 17px;
    font-weight: lighter;
  }
}
