@use "../utils/mixins";
@use "../utils/colors";

/* EXPLORER */
.explorer {
  background-color: #f3f3f3;
  text-align: center;
  margin: -1rem 0rem -0.5rem 0rem;
  
  & h2 {
    
    margin: 0.8rem 3rem 1rem 3rem;
    padding-top: 3rem;
    font-size: 2rem;
  }
  & p {
    font-size: 1.2rem;
    margin: 0rem 1rem 1rem 1rem;
    
  }
  & button {
    @include mixins.base-button;
    font-size: 1.1rem;
    margin-bottom: 4rem;
  }
}

.loader {
  $animation-duration: 1s;
  $animation-count: 2;
  position: fixed;
  display: grid;
  place-items: center;
  background-color: #ffffff;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: disappear 200ms $animation-duration * $animation-count forwards;
  transform-origin: center;
  &::after {
    content: "";
    height: 100px;
    width: 100px;
    border-right: 5px solid transparent;
    border-top: 5px solid colors.$purple;
    border-radius: 50%;
    animation: spin $animation-duration ease-in-out;
    animation-iteration-count: 2;
  }
}

@keyframes disappear {
  to {
    transform: scale(0);
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media screen and (min-width: 768px) and (max-width: 1800px) {
  .explorer {
    & h2 {
      margin-bottom: 2rem;
      font-size: 2.5rem;
    }
}
}
