@use "../utils/variables";
@use "../utils/colors";

#homepage {
  .menus {
    background-color: #f6f6f6;
    padding: 0 0 5rem 0;
    h2 {
      padding: 3rem 0 2rem 1rem;
    }

    .menus__cards {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
      @media (max-width: variables.$breakpoint) {
        grid-template-columns: repeat(1, 1fr);
      }
      .new {
        position: relative;
      }
      .new::before {
        content: "Nouveau";
        position: absolute;
        height: 2rem;
        width: 6rem;
        border-radius: 0.1rem;
        background-color: colors.$color-tertiary;
        color: darken(colors.$color-tertiary, 50%);
        display: grid;
        place-items: center;
        right: 2rem;
        top: 1rem;
        z-index: 1;
      }
    }

    .card {
      padding: 0 1rem 0 1rem;
      &__image {
        height: 14rem;
        border-radius: 1rem 1rem 0 0;
        background-size: cover;
        background-position: 20%;
        position: relative;
      }
      @for $i from 1 through 4 {
        &__image-#{$i} {
          background-image: url("images/restaurants/image-#{$i}.jpg");
        }
      }
      &__description {
        background-color: white;
        border-radius: 0 0 1rem 1rem;
        padding: 1rem;
        position: relative;
        .far.fa-heart {
          position: absolute;
          justify-content: flex-end;
          flex-wrap: wrap;
          right: 2rem;
          font-size: 1.8rem;
          margin-top: -2.7rem;
        }
        .fas.fa-heart {
          position: absolute;
          right: 2rem;
          font-size: 1.8rem;
          margin-top: -2.7rem;
          color: transparent;
          background-image: linear-gradient(
            to top,
            rgb(147, 86, 220, 1),
            rgba(255, 121, 218, 1)
          );
          -webkit-background-clip: text;
          opacity: 0;
          transition: all 0.7s ease-in-out;
        }
        .fas.fa-heart:hover {
          opacity: 1;
          transform: translateY(0%) scale(1.2);
        }
        input[type="checkbox"]:checked + .heart .fas.fa-heart {
          opacity: 1;
          transform: translateY(0%) scale(1.2);
        }
        input[type="checkbox"] {
          position: absolute;
          opacity: 0;
          pointer-events: none;
        }
      }

      h3,
      p {
        padding: 0.1rem;
        margin-right: 3rem;
        margin-left: 3px;
        font-size: 19px;
      }
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 2000px) {
  #homepage {
    .menus {
      .card {
        margin-bottom: 2rem;
        &__image {
          max-height: 10rem;
          font-size: 70%;
        }
        &__description {
          max-height: 5rem;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 2000px) {
  #homepage {
    .menus {
      .menus__cards {
        margin-left: calc(8rem + ((100vw - 1024px) / 80));
        margin-right: calc(8rem + ((100vw - 1024px) / 80));
        transition: margin-left 0.3s ease, margin-right 0.3s ease;
        margin-bottom: -3rem;
      }
      h2 {
        margin-left: 9rem;
      }

      .card {
        margin-left: calc(0.5rem + ((100vw - 1024px) / 80));
        margin-right: calc(0.5rem + ((100vw - 1024px) / 80));
        margin-bottom: 2rem;

        &__image {
          max-height: 12rem;
          font-size: 70%;
        }

        &__description {
          max-height: 5rem;
        }
      }
    }
  }
}
@media screen and (min-width: 1024px) and (max-width: 1200px) {
  #homepage {
    .menus {
      .menus__cards {
        margin-left: calc(2rem + ((100vw - 1024px) * 0.01));
        margin-right: calc(2rem + ((100vw - 1024px) * 0.01));
      }
      h2 {
        margin-left: 3rem;
      }
    }
  }
}
